.desafio3{
    border-radius: 10px;
    background-color:rgb(0, 60, 128);
    transition: 1s; 
    font-size: 30px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desafio3:hover { 
    border-radius: 0;
    border: 10px solid rgb(7, 114, 254);
    background-image:linear-gradient(to left,#00bbff ,	#057b8e,#01436e,#006bf8);
    background-size: 50% 90%;
    animation: degrade-animado 2s infinite alternate;
    transition: 1s;
    color: rgb(47, 186, 255);
    margin-left: 100px;
    }
    body {
        background-color:blue;
    }
      
  
    .Alice{
        border-radius: 0;
    border: 10px solid rgb(7, 114, 254);
    background-image:linear-gradient(to left,#00bbff ,	#057b8e,#01436e,#006bf8);
    background-size: 50% 90%;
    animation: degrade-animado 2s infinite alternate;
    transition: 1s;
    color: rgb(47, 186, 255);
    margin-left: 100px;
    }
    .Betinho{
        border-radius: 0;
    border: 10px solid rgb(7, 114, 254);
    background-image:linear-gradient(to left,#00bbff ,	#057b8e,#01436e,#006bf8);
    background-size: 50% 90%;
    animation: degrade-animado 2s infinite alternate;
    transition: 1s;
    color: rgb(47, 186, 255);
    margin-left: 100px;
    }
    .Clarinha {
        border-radius: 0;
    border: 10px solid rgb(7, 114, 254);
    background-image:linear-gradient(to left,#00bbff ,	#057b8e,#01436e,#006bf8);
    background-size: 50% 90%;
    animation: degrade-animado 2s infinite alternate;
    transition: 1s;
    color: rgb(47, 186, 255);
    margin-left: 100px; 
    align-items: center;
    }
    #placeholder-text::placeholder {
        color: rgb(17, 4, 4)(35, 8, 8);
    }

    
.barra{
    background-color:black;
   height: 50px;
   font-family: 'Times New Roman', Times, serif;
 }